<% if flash[:notice] %>
    <div class="alert alert-danger">
      <%= flash[:notice] %>
    </div>
<% end %>

<div>
  <% @instance.each do |instances| %>
      <div class="btn btn-success">
        <a href="<%= url_for(controller:'users', action:'show', id:instances.id) %>">
          <%= instances.date + instances.companie.company_name + ' ' +  instances.companie.company_name %>
        </a>
      </div>
  <% end %>
</div>