<div class="row">
  <div class="col l12 m12 s3 push-l5 push-m5" id="links_connection">
    <div  id="link_register">
      <a href="<%= url_for(controller:'welcome', action:'register') %>" class="waves-effect waves-light btn-large"><i class="material-icons right">assignment</i>S'inscrire</a>
    </div>
    <div>
      <a class="waves-effect waves-light btn-large"><i class="material-icons left">perm_identity</i>Connexion</a>
    </div>
  </div>
</div>