<div class="col-md-12">
  <%= notice %>
</div>

<div class="row">
  <div class="col-md-12 offset-md-10">
    <a href="<%= url_for(controller:'users', action:'index') %>" class="wbtn btn-lg btn-primary"><i class="material-icons right">assignment</i>S'inscrire</a>
    <a href class="wbtn btn-lg btn-primary"><i class="material-icons left">perm_identity</i>Connexion</a>
  </div>
</div>