<% if flash[:notice] %>
    <div class="alert alert-success">
      <%= flash[:notice] %>
    </div>
<% end %>


<div>
  <a href="<%= url_for(controller:'companies', action:'new') %>">Crée une nouvelle entreprise</a>
  <br />
  <a href="<%= url_for(controller:'companies', action:'show_company') %>">Modifier une entreprise</a>
</div>